@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.zoom-out-bg {
  animation: zoomIn 5s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up-content {
  animation: slideUp 1.2s ease-out forwards;
}